body {

    
    div#app > div > div:nth-last-child(1) {
        position: absolute;
        left: 0;
        
        
        > div:nth-last-child(3) {
            width: 100vw;
            max-width: none;
            position: fixed;
            z-index: 1;
        }
        > div:nth-last-child(2) {
            position: absolute;
            --width: 720px;
            width: var(--width);
            height: 100%;
            bottom: 0px;
            left: calc(50% - (var(--width) / 2));
        }
                
    }

}